.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgb(0, 0, 0, 0.25);
  padding-bottom: 2rem;

  &__logo {
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__links {
    font-size: 1.8rem;
    color: rgb(0, 132, 255);
    display: flex;
    gap: 1rem;
    max-height: 2rem;

    :nth-child(3) {
      border-left: 1px solid black;
    }
    :nth-child(3) {
      padding-left: 1rem;
    }
  }

  &__image {
    max-width: 4.5rem;
  }
}
